@use '../../responsive.scss' as r;

.searchbar{
    .type{

        // @include r.sm{
        //     margin-bottom: 5px; 
        // }

        button{
            padding: 16px 36px;
            border: 1px solid #999;
            background-color: white;
            cursor: pointer;
            border-bottom: none;

            &.active{
                background-color: black;
                color: white;
            }

            &:first-child{
                border-top-left-radius: 5px;
                border-right: none;

                // @include r.sm{
                //    border-bottom: 1px solid #999; 
                // }
            }

            &:last-child{
                border-top-right-radius: 5px;
                border-left: none;

                // @include r.sm{
                //    border-bottom: 1px solid #999; 
                // }
            }
        }

    }

    form{
        border: 1px solid #999;
        display: flex;
        justify-content: space-between;
        height: 64px;
        gap: 5px;

        @include r.sm{
            flex-direction: column;
            border: none;
        }
        

        input{
            border: none;
            padding: 0px 10px;
            width: 200px;

            @include r.lg{
                padding: 0px 5px;

                &:nth-child(2), 
                &:nth-child(3){
                    width: 140px;
                }
            }

            @include r.md{
                width: 200px;
                &:nth-child(2), 
                &:nth-child(3){
                    width: 200px;
                }
            }

            @include r.sm{
                width: auto;
                &:nth-child(2), 
                &:nth-child(3){
                    width: auto;
                }
                padding: 20px;
                border: 1px solid #999;
            }
        }

        button{
            background-color: #FECE51;
            flex:1;
            border: none;
            cursor: pointer;

            img{
                width:24px;
                height: 24px;
            }

            @include r.sm{
              padding: 10px; 
            }
        }

    }
}