@import '../../responsive.scss';

nav{
    display: flex;
    justify-content: space-between;
    height:100px;
    align-items: center;

    a{
        @include sm{
            display: none;
        }
    }

    .left{
        flex:3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width: 28px;
            }

            span{
                @include md{
                    display: none;
                }

                @include sm{
                    display: initial;
                }
            }
        }

        a {
            position: relative;
            text-decoration: none;
            color: inherit;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 2px;
                background-color: currentColor;

                transform: scaleX(0);
                transform-origin: center;
                transition: transform 0.2s ease;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }

    }

    .right{
        flex:2;
        height: 100%;
        background-color: #fcf5f3;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include md{
            background-color: transparent;
        }

        a{
            padding: 12px 24px;
            margin: 20px;

            transition: all 0.3s ease;
            &:hover{
                scale: 1.05;
            }
        }

        .signUp{
           background-color: #fece51;
        }

        .menuIcon{
            display: none;
            img{
                width:36px;
                height:36px;
                cursor:pointer;
            }

            @include sm{
                display: inline;
            }
        }

        .menu{
            position: absolute;
            top:0;
            right:-50%;
            background-color: black;
            color: white;
            height:100vh;
            width:50%;
        }

        

    }
}