@use '../../responsive.scss' as r;


nav{
    display: flex;
    justify-content: space-between;
    height:100px;
    align-items: center;
    overflow-x: hidden;

    a{
        transition: all 0.4s ease;

        &:hover{
            scale: 1.05;
        }
    }

    .left > a {
       @include r.sm {
          display: none;
       }
    }

    .right > a {
       @include r.sm {
          display: none;
       }
    }   


    .left{
        flex:3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width: 28px;
            }

            span{
                @include r.md{
                    display: none;
                }

                @include r.sm{
                    display: initial;
                }
            }
        }

        a {
            position: relative;
            text-decoration: none;
            color: inherit;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 2px;
                background-color: currentColor;

                transform: scaleX(0);
                transform-origin: center;
                transition: transform 0.2s ease;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }

    }

    .right{
        flex:2;
        height: 100%;
        background-color: #fcf5f3;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include r.sm{
            background-color: transparent;
        }

        @include r.md{
            background-color: transparent;
        }

        a{
            padding: 12px 24px;
            margin: 20px;

            // transition: all 0.3s ease;
            // &:hover{
            //     scale: 1.05;
            // }

            // @include r.sm{
            //   display: none;
            // }
        }

        .signUp{
           background-color: #fece51;
        }

        .menuIcon{
            display: none;
            img{
                width:36px;
                height:36px;
                cursor:pointer;
            }

            @include r.sm{
                display: inline;
                z-index: 99;
            }
        }

        .menu{
            position: absolute;
            top:0;
            right:-50%;
            background-color: black;
            color: white;
            height:100vh;
            width:50%;
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            a{
              transition: all 0.4s ease;

              &:hover{
                scale: 1.05;
              }
            }
        }
           
        .active{
            right:0;
        }
    }
}