@import "./responsive.scss";

.layout{
    // background-color: rgb(114, 42, 165);
    height: 100vh;
    max-width: 1366px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 20px;
    padding-right:20px;

    @include lg{
        background-color: lightblue;
        max-width: 1280px;
    }

    @include md{
        background-color: rgb(195, 194, 141);
        max-width: 768px;
    }

    @include sm{
        background-color: rgb(233, 166, 166);
        max-width: 640px;
    }
}
