@use '../../responsive.scss' as r;

.slider{
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;

    .fullslider{
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left:0;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index:9999;

        .arrow{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
         
            img{
                width: 50px;

                @include r.md{
                    width: 30px
                }
                @include r.sm{
                    width: 20px
                }

                &.rightarr{
                   transform: rotate(180deg);
                }
            }
        }

        .imgCont{
            flex: 10;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .close{
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            cursor: pointer;
            font-size: 36px;
            font-weight: bold;
            padding: 50px;
        }

    }
    
    img{
       width: 100%;
       height:100%;
       object-fit: cover;
       border-radius: 10px;
       cursor: pointer;
    }

    .bigimg{
       flex: 3;
       
    }

    .smallimg{
        flex:1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;

        img{
            height: 100px;
        }
    }
}